/* footer */


mat-toolbar a:hover,
mat-toolbar button:hover mat-icon {
  transform: scale(1.4);
  color: aqua;
}

.nologig-brand {
  border-color: #444;
  border-width: 1px;
  border-right-style: solid;
  padding: 0 4px 0 4px;
}

.mat-cardView {
  width: 100vw;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding-top: 6px;
  padding-bottom: 4px;
  z-index: 2;
  background-color: #555;
  color: #fff;
}


/* main content for router-outlet */

mat-sidenav-container {
  height: 100%;
  margin-top: 49px;
  margin-bottom: 40px;
  padding: 0;
  background-color: #303030;
}


/* header with navigation */

mat-toolbar {
  min-height: 49px;
  height: 49px;
  position: fixed;
  top: 0;
  z-index: 3;
  padding: 0 0 0 4px;
  width: 100vw;
  color: aqua;
}

.sidenav-panel {
  width: 25vw;
  min-width: 140px;
  max-width: 260px;
  padding: 0;
}

.sidenav-panel>ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.sidenav-panel>ul a {
  width: 100%;
  text-align: left;
}

.sidenav-panel>ul a:hover {
  transform: scale(1.2);
  color: aqua;
}

.between-spacer {
  flex: 1 1 auto;
}

.sidenav-link-list {
  overflow-y: visible;
}

mat-sidenav {
  overflow-y: visible;
}
mat-sidenav-content {
  background-color: #303030;
}