<mat-toolbar color="secondary">

  <span class="nologig-brand">NoLogig</span>

  <nav mat-tab-nav-bar>

    <a style="min-width:auto;" mat-tab-link *ngFor="let r of routes; let i=index" [routerLink]="r.path" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">

      <mat-icon class="example-icon">{{navIcon[i]}}</mat-icon>

    </a>

  </nav>

  <span class="between-spacer"></span>

  <mat-slide-toggle [checked]="sidenav.opened" (click)="sidenav.toggle()">

    <button mat-button>
      <mat-icon>menu</mat-icon>
    </button>

  </mat-slide-toggle>

</mat-toolbar>


  <mat-sidenav-container>

      <h1>This site is under heavy development v0.2.8 </h1>

    <mat-sidenav #sidenav class="sidenav-panel" position="end">

      <ul class="sidenav-link-list">
        <li>
          <a mat-raised-button href="">
            <mat-icon style="padding-right: 8px;">home</mat-icon>M.E.A.N Prototype</a>
        </li>
        <li>
          <a mat-raised-button href="">Node</a>
        </li>
        <li>
          <a mat-raised-button href="">TypeScript</a>
        </li>
        <li>
          <a mat-raised-button href="">Angular 5</a>
        </li>
      </ul>

    </mat-sidenav>

    <router-outlet></router-outlet>

  </mat-sidenav-container>


  

  <!-- Footer -->
  <mat-card class="mat-cardView">

    <h5 style="text-align: right; padding: 0 12px 4px 0; width: 98vw;">
      Follow me @:
      <a mat-raised-button target="_blank" href="https://github.com/NoLogig/Inspiration-Station">GitHub</a>
      <a mat-raised-button target="_blank" href="https://www.xing.com/profile/Max_Schweigerdt">Xing</a>
      <a mat-raised-button target="_blank" href="https://curse.com">Curse (in progress after request overflow)</a>
    </h5>

  </mat-card>